.cssClassBottomContent .bx-window ul {height:auto !important}
#slide .sfBannerslide {height: 95px !important;margin-top:20px;padding:5px !important;}
/*#slide a {margin:20px;}*/
#slide .bx-window {margin-top: 13px;margin-left:17px;height:125px;margin-right: 70px;width: 893px;}
#brandSlider li {border: 1px solid #F0F0F0;
    float: left;
    margin:0 0 5px 5px;
    overflow: hidden;
    width: 100px !important;
	height:100px;}
#slide .bx-prev {left: -2% !important; top: 8% !important ;width: 50px;z-index: 99;background: url(../images/arrow-prev.png) no-repeat;}
#slide .bx-prev, #slide .bx-next{	height: 60px;	position: absolute;	text-indent: -999999px;	width: 32px;}
#slide .bx-next {top: 13%;right:-2%;z-index: 99;background: url(../images/arrow-next.png) no-repeat;right: -2% !important; top: 8% !important }
.sfModulebrands {margin-bottom:30px}
